
### FRONT
# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules/
front/dist
front/dist-ssr
front/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### API
###> symfony/framework-bundle ###
api/.env.local
api/.env.local.php
api/.env.*.local
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/
api/var
api/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
api/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
api/phpunit.xml
api/.phpunit.cache/
###< phpunit/phpunit ###

### Project
.continue/
.continueignore